<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Which provider? -->
    <!--<add key="provider" value="System.Data.SqlClient" />-->
    <add key="provider" value="System.Data.OleDb" />
    <!-- Which connection string? -->
    <!--<add key="connectionString" value= "Data Source=(localdb)\mssqllocaldb;
            Initial Catalog=AutoLot;Integrated Security=True"/>-->
    <!--<add key="connectionString" value= "Provider=SQLNCLI11;Data Source=(localdb)\mssqllocaldb;Initial Catalog=AutoLot;Integrated Security=SSPI"/>-->
  </appSettings>
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source=(localdb)\mssqllocaldb;Integrated Security=true;Initial Catalog=AutoLot"/>
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLNCLI11;Data Source=(localdb)\mssqllocaldb;Integrated Security=SSPI;Initial Catalog=AutoLot"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>