<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <services>
      <service name="MagicEightBallServiceLib.MagicEightBallService"
               behaviorConfiguration="EightBallServiceMEXBehavior">
        <!--<endpoint address="http://localhost:8080/MagicEightBallService"
                  binding="basicHttpBinding"
        contract="MagicEightBallServiceLib.IEightBall" />-->
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="MagicEightBallServiceLib.IEightBall" />
        <!--Enable the MEX endpoint-->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <!--Need to add this so MEX knows the address of our service-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/MagicEightBallService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--A behavior definition for MEX-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="EightBallServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>