<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEightBall" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEightBall" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MagicEightBallService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEightBall"
                contract="ServiceReference1.IEightBall" name="BasicHttpBinding_IEightBall" />
            <endpoint address="net.tcp://localhost:8099/MagicEightBallService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEightBall"
                contract="ServiceReference1.IEightBall" name="NetTcpBinding_IEightBall">
                <identity>
                    <userPrincipalName value="PHILSURFACEBOOK\Skimedic" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>