<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoLotDAL3.Properties.Settings.AutoLotConnectionString"
            connectionString="Data Source=.\SQLEXPRESS2014;Initial Catalog=AutoLot;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>