@model AutoLotDAL_Core2.Models.Inventory

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="Timestamp"/>
            @Html.EditorForModel()
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
